/**/
.page__content {
    background-color: rgba(167, 176, 0, 0.66);
}
.page__background
{
    background-color: rgb(105, 142, 45);
}

ons-toolbar.toolbar {
    background-color: rgba(167, 176, 0, 0.66);
}
ons-list-item.list-item {
    background-color: rgba(119, 197, 32, 0.35);
    color: black;
}

.zmdi-comment{
    opacity: 0.2;
}

.ayah_text.arabic {
    font-size: xx-large;    
    line-height: normal;
}
.arabic {
    text-align: right;
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

span.qavs_ichi {
    display: none;
    color: darkgreen;
}

span.ayah_symbol {
  display: grid;
    font-size: x-large;
}



span.ayah_text {
    text-align: justify;
}
.center.list-item__center.arabic {
   width: 40vw;
    text-align: right;
    font-size: x-large;
}
ons-card.card {
    background-color: olive;
    color: aliceblue;
}

h1{
    font-family: 'Great Vibes', cursive;
    font-size: 5em;
}
h2{
    font-family: '-webkit-pictograph';
    font-size: -webkit-xxx-large;
    color: darkolivegreen;
}
iframe.furqon {
    width: 360px;
    height: 640px;
    border-style: solid;
    border-width: thin;
}
#camera_hole{
    width: 10px;
    height: 10px;
    background-color: #1c1c22;
    border-radius: 50%;
    position: absolute;
    margin-left: 80px;
    margin-top: -40px;
    box-shadow: inset 1px 0 1px 0px #6c6d67;
}
div#speaker_hole {
    width: 50px;
    height: 10px;    
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAaUlEQVQoU12PCw2AMAwFbzaGDLCBDXSgAxvYABlgY+RgWxqaLOnn+vqWgBE4+WIFNuCudUk1EZorYCsDF5Aa4OYelAowqCTg0GeodLhZ62yiXL8JTNFTJ9vNv6cG9JvhN68nAYdRaYmeHot9F9X2eFD0AAAAAElFTkSuQmCC);
    border-radius: 5px;
    background-color: gray;
    position: absolute;
    margin-left: 153px;
    margin-top: -40px;
    box-shadow: inset 0 0 1px 1px #484040;
}
div#sensor_hole {
    width: 10px;
    height: 10px;
    background-color: darkslateblue;
    border-radius: 50%;
    position: absolute;
    margin-left: 265px;
    margin-top: -40px;
}
.android {
    display: block;
    padding: 70px 10px 10px 10px;
    background-color: black;
    width: fit-content;
    height: 700px;
    border-radius: 50px;
    position: fixed;
    left: 71%;
}
#wrapper{
    display: grid;
    grid-template-columns: 70% 20%;
    padding-left: 5%;
    padding-right: 5%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.left_side{
    display: grid;
    grid-template-columns: 50% 50%;
    color: black;
    width: 95%;
    text-align: center;
    height: 1000px;
    padding: 100px 10px 10px 10px;
    text-shadow: 1px 1px 2px #83b976;
}
.floatright {
    height: 90px;
    background-color: #a2a21529;
    padding: 40px;
    width: 400px;
    margin-left: auto;
    margin-right: unset;
    line-height: 2;
    border-radius: 10px;
    font-size: x-large;
}

.floadleft {
    height: 90px;
    background-color: #a2a21529;
    padding: 40px;
    width: 400px;
    line-height: 2;
    border-radius: 10px;
    font-size: x-large;
    float: right;
    display: table-row;
}
img.furqonlogo {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}
.vine {
    width: 70px;
    margin-top: -20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}